.idea
*.iml
*.vscode
*.MF
*.log
*.logs
nacos/logs
nacos_mysql/logs
jenkins_home
rocketmq/broker/data/logs
rocketmq/broker/data/store

rabbitmq/data
mysql/data
minio/data
mongoDB/data

gitlabce/repositories

/target/
/.idea/
*.iml
rebel.xml